
<h1>Registration Form</h1>
<div style="width:50%; float:left;">
<input type="text" [(ngModel)]="fname" name="fname" placeholder="First Name">
<input type="text" [(ngModel)]="lname" name="lname" placeholder="Last Name">
<input type="text" [(ngModel)]="mobile" name="mobile" placeholder="Mobile No.">
<input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone No.">
<input type="text" [(ngModel)]="email" name="email" placeholder="Email">
<input type="text" [(ngModel)]="address" name="address" placeholder="Address">
<input type="submit" value="Submit" (click)="addPost()">
</div>

<div style="width:50%; float:right">
<ul *ngFor="let Contactlist of contact | async">
  <li (click)="getPost(Contactlist.id)">
       <strong>First Name:</strong> {{Contactlist.data.fname}} (<a href="#" (click)="deletePost(Contactlist.id)">delete</a>) <br>
       <strong>Last Name:</strong> {{Contactlist.data.lname}} <br>
       <strong>Mobile:</strong> {{Contactlist.data.mobile}} <br>
       <strong>Phone:</strong> {{Contactlist.data.phone}} <br>
       <strong>Email:</strong> {{Contactlist.data.email}} <br>
       <strong>Address:</strong> {{Contactlist.data.address}} <br>
  </li>
</ul>
</div>

